/.idea/
/classwork/
/homework1/target/
/homework1/homework1.iml
/homework2/target/
/homework2/homework2.iml
/JD2.iml
/RequirementsForHomework
/testing/
/homework3/target/
/homework3/homework3.iml
/homework4/target/
/homework4/homework4.iml
