<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false">

    <display-name>Messenger</display-name>

    <welcome-file-list>
        <welcome-file>/chat</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>by.it_academy.jd2.messenger.controller.servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>by.it_academy.jd2.messenger.controller.filters.JspFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JspFilter</filter-name>
        <url-pattern>/chat.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JspFilter</filter-name>
        <url-pattern>/userinfo.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>by.it_academy.jd2.messenger.controller.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/chat</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/userinfo</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>


    <listener>
        <listener-class>by.it_academy.jd2.messenger.controller.listeners.AppContextInitializer</listener-class>
    </listener>

</web-app>